<div class="head">
    <nav>
        <h1 style="font-size: 50px;text-align: left;float: left;"><pre> VAKA GANITH </pre></h1>
        <div style="text-align: right;line-height: 1.5;">
          <br>
        <h1 style="text-align: right;">Lets Connect !!</h1>
       <pre><a class="fa fa-linkedin-square" style="font-size:48px;color:#0E76A8;" href="https://www.linkedin.com/in/v-ganith-4b41281b3/"></a>             </pre>
        </div>
     <div style="text-align: right;float: right;">   
     <b>   <a style='margin-right:40px' routerLink='departments' routerLinkActive='active'>PROJECTS</a>
        <a style='margin-right:40px' routerLink='blogs' routerLinkActive='active'>BLOG</a>   
        <a style='margin-right:40px' routerLink='about' routerLinkActive='active'>ABOUT ME</a>
      </b> </div>
      </nav>
</div>
