<div class="head">
    <nav>
        <h1 style="font-size: 200%;float: left;color:white;"><pre> VAKA GANITH</pre></h1>
        
        <div style="text-align: right;line-height: 1.5;">
          <br>
        <h1 style="text-align: right;font-size: 100%;color: #0E76A8;">Lets Connect !!</h1>
       <pre><a class="fa fa-linkedin-square" style="font-size:48px;color:#0E76A8;" href="https://www.linkedin.com/in/v-ganith-4b41281b3/"></a>             </pre>
        </div>
     <div style="float: right;font-size: small;">   
     <b>   <a style='margin-right:40px' routerLink='departments' routerLinkActive='active'>PROJECTS</a>
        <a style='margin-right:40px' routerLink='blogs' routerLinkActive='active'>BLOG</a>   
        <a style='margin-right:40px' routerLink='about' routerLinkActive='active'>ABOUT ME</a>
      </b> </div>
      </nav>
</div>
