<div>
<br>
<u><h1 style="text-align:center;">About Me</h1></u>
<img class="image" [src]=myimage>
<div class="a">
<h1 style="text-align: center;">V Ganith</h1>
<h2 style="text-align: center;">Student at Amrita School of Engineering, Bangalore</h2>
</div>
<div class="pp">
<p>Hello! My name is Ganith,  I am currently pursuing my BTech in Computer Science and Engineering from Amrita School Of Engineering, Bengaluru (batch 2023).</p>
    <span id="more"><p>My field of interests are in full stack web development and Artificial Intelligence . I am familiar with ANGULAR, JAVA, PYTHON and SQL. I have done some projects in web development which include organ donation system and I’m in the process of learning and going to do lot more projects in the near future.</p>
    <p>I’m always enthusiastic to learn something new and I also love to watch anime which inspires me a lot.</p>
    </span>
<button class="pl" (click)="onclick()" id="myBtn">{{btn}}</button>
</div>
</div>


